@import '../styles/color-constants';
// @import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.brand-icon {
  color: $brand-color;
}

.navbar-brand {
  font-family: 'Avenir';
}

nav {
  color: white;
}

.bg-dark {
  background-color: $primary-light !important;
}

.fav-icon {
  color: $brand-color;
}
