<div class="container-fluid h-100 text-center">
  <div class="row">
    <div class="col py-4">
      <h4 class="current-forecast-lbl">
        Today's forecast
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1
        *ngIf="($currentWeather | async)[0]?.Temperature as temp"
        class="display-1"
      >
        {{ temp | number: "1.0-0" }}°
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="$currentLocation | async as location">
      <h4>{{ location.CityName }}, {{ location.CountryName }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col text-left py-3">Hourly Forecast:</div>
  </div>
  <div class="row">
    <div class="col py-2">
      <aeric-hourly-forecast></aeric-hourly-forecast>
    </div>
  </div>
  <div class="row">
    <div class="col py-3">
      <button
        class="btn btn-light"
        (click)="saveLocationToFavorites()"
        [disabled]="cannotAddToFavorites"
      >
        Save to favorites
      </button>
    </div>
  </div>
</div>
