@import "src/styles/color-constants";
@import "src/styles/animations";
.brand-icon {
  color: $brand-color;
}

nav {
  color: white;
}

.bg-dark {
  background-color: $primary-light !important;
}

.fav-icon {
  color: $brand-color;
}

.nav-link {
  color: white;
}
