@import './styles/color-constants';


body,
html {
  height: 100%;
  font-family: "avenir";
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: rgb(116, 114, 146);
  border-color: rgb(116, 114, 146);
}
